<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h1>Stock News Site</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Finance Topics
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/stock-news">Stocks</a></li>
            <li><a class="dropdown-item" href="/crypto-news">Crypto Currency</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/politics-news">Politics</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input 
          class="form-control me-2" 
          type="search" 
          placeholder="Search" 
          [(ngModel)]="searchKeyword" 
          [ngModelOptions]="{standalone: true}"
          aria-label="Search">

        <button class="btn btn-outline-success" type="submit" (click)="searchNews()">Search</button>
      </form>
    </div>
  </div>
</nav>

<div *ngIf="searchResults">
  <h2>Search Results</h2>
  <ul>
    <li *ngFor="let article of searchResults">
      <h2>{{article.title}}</h2>
      <div class="row">
        <img class="w-50 pt-0 mt-0" src="{{article.urlToImage}}">
        <div class="w-50">
            <p>{{article.description}}</p>
            <a class="btn btn-outline-dark" href="{{article.url}}">Read More</a>
        </div>
      </div>>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
